/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: #333;
}



a {
    text-decoration: none;
    color: #1b98f8;
}


/*
 * -- HELPER STYLES --
 * Over-riding some of the .pure-button styles to make my buttons look unique
 */
.primary-button,
.secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 20px;
}
.primary-button {
    color: #fff;
    background: #1b98f8;
    margin: 1em 0;
}
.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
}

/*
 * -- LAYOUT STYLES --
 * This layout consists of three main elements, `#nav` (navigation bar), and `#main` (content). All 3 elements are within `#layout`
 */
#layout, #nav, #main {
    margin: 0;
    padding: 0;
}

/* Make the navigation 100% width on phones */
#nav {
    width: 100%;
    height: 40px;
    position: relative;
    background: rgb(37, 42, 58);
    text-align: center;
}
/* Show the "Menu" button on phones */
#nav .nav-menu-button {
    display: block;
    top: 0.5em;
    right: 0.5em;
    position: absolute;
}

/* When "Menu" is clicked, the navbar should be 80% height */
#nav.active {
    height: 80%;
}
/* Don't show the navigation items... */
.nav-inner {
    display: none;
}

/* ...until the "Menu" button is clicked */
#nav.active .nav-inner {
    display: block;
    padding: 2em 0;
}


/*
 * -- NAV BAR STYLES --
 * Styling the default .pure-menu to look a little more unique.
 */
#nav .pure-menu.pure-menu-open {
    background: transparent;
    border: none;
    text-align: left;
}
    #nav .pure-menu a:hover,
    #nav .pure-menu a:focus {
        background: rgb(55, 60, 90);
    }
    #nav .pure-menu a {
        color: #fff;
        margin-left: 0.5em;
    }
    #nav .pure-menu-heading {
        border-bottom: none;
        font-size:110%;
        color: rgb(75, 113, 151);
    }

#nav h2 {
    color: white;
    text-decoration: underline;
}

.genre-0 .label { background-color: #32cd32; }
.genre-1 .label { background-color: #8a2be2; }
.genre-2 .label { background-color: #a52a2a; }
.genre-3 .label { background-color: #ff7f50; }
.genre-4 .label { background-color: #4169e1; }
.genre-5 .label { background-color: #ff0000; }
.genre-6 .label { background-color: #800080; }
.genre-7 .label { background-color: #ff00ff; }
.genre-8 .label { background-color: #008000; }
.genre-9 .label { background-color: #6b8e23; }
.genre-10 .label { background-color: #808000; }
.genre-11 .label { background-color: #ffff00; }
.genre-12 .label { background-color: #000080; }
.genre-13 .label { background-color: #0000ff; }
.genre-14 .label { background-color: #008080; }
.genre-15 .label { background-color: #00008b; }
.genre-16 .label { background-color: #008b8b; }
.genre-17 .label { background-color: #b8860b; }
.genre-18 .label { background-color: #9932cc; }
.genre-19 .label { background-color: #adff2f; }
.genre-20 .label { background-color: #ffa500; }

.genre:active,
.genre:focus,
.genre.active {
    background: rgb(20, 95, 102);
}

.genre-selected-title {
    color: rgb(75, 113, 151);
    left: 230px;
    position: fixed;
    z-index: 10;
}
.genre-selected-title h1 {
    margin-bottom: 5px;
}

#loading {
    display: none;
    background: url("../../img/loading.gif") no-repeat scroll 0 0 white;
    color: #4385ff;
    height: 20px;
    left: 50%;
    margin-top: -35px;
    padding-left: 5px;
    padding-top: 72px;
    position: fixed;
    top: 50%;
    width: 65px;
    z-index: 10;
}
/*
 * -- EMAIL STYLES --
 * Styles relevant to the email messages, labels, counts, and more.
 */
.count {
    color: rgb(75, 113, 151);
}
.label,
.label-personal,
.label-work,
.label-travel {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 0.5em;
    border-radius: 3px;
}
.label-personal {
    background: #ffc94c;
}
.label-work {
    background: #41ccb4;
}
.label-travel {
    background: #40c365;
}


/* Email Item Styles */
.item {
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
}
    .avatar {
        border-radius: 3px;
        margin-right: 0.5em;
    }
    .name,
    .subject {
        margin: 0;
    }
    .name {
        text-transform: uppercase;
        color: #999;
    }
    .desc {
        font-size: 80%;
        margin: 0.4em 0;
    }

.item-selected {
    background: #eee;
}
.item-unread {
    border-left: 6px solid #1b98f8;
}

/* Email Content Styles */
.content-header, .content-footer {
    padding: 1em 2em;
}
    .content-header {
        border-bottom: 1px solid #ddd;
    }

        .content-title {
            margin: 0.5em 0 0;
        }
        .content-subtitle {
            font-size: 1em;
            margin: 0;
            font-weight: normal;
        }
            .content-subtitle span {
                color: #999;
            }
    .content-controls {
        margin-top: 2em;
        text-align: right;
    }
        .content-controls .secondary-button {
            margin-bottom: 0.3em;
        }

    .avatar {
        width: 40px;
        height: 40px;
    }
/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 40em) {

    /* Move the layout over so we can fit the nav + list in on the left */
    #layout {
        padding-left:500px; /* "left col (nav + list)" width */
        position: relative;
    }

    /* These are position:fixed; elements that will be in the left 500px of the screen */
    #nav {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: auto;
    }
    #nav {
        margin-left:-500px; /* "left col (nav + list)" width */
        width: 180px;
        height: 100%;
    }

    /* Show the menu items on the larger screen */
    .nav-inner {
        display: block;
        padding: 2em 0;
    }

    /* Hide the "Menu" button on larger screens */
    #nav .nav-menu-button {
        display: none;
    }

    #main {
        position: fixed;
        left: 180px;
        overflow: auto;
        width: auto; /* so that it's not 100% */
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 60em) {


    /* This will now take up it's own column, so don't need position: fixed; */
    #main {
        margin: 0;
        padding: 0;
    }
}

